html {
    font-size: 17px;
    font-family: sans-serif;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }

.page-title {
    color: #6a040f;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0;
    margin-bottom: 3em;
}

 .section {
    max-width: 90em;
    margin: 0 auto;
    font-size: .9rem;
    margin-bottom: 6em;
}

.section-title {
    color:#9d0208;
}

.deeplinks-list {
    padding-left: 0;
    list-style-type: none;
}

.list-item {
    box-shadow: 0 0 .7em .2em rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding: 1em;
    border-radius: .9em;
    position: relative;
    padding-right: 3.5em;
}

.list-item a {
    color: #0077b6;
    line-height: 2em;
}

.list-item input[type=checkbox] {
    position: absolute;
    top: 25%;
    transform: scale(1.5);
    right: 1em;
    opacity: .28;
    cursor: pointer;
}

.list-item input[type=checkbox]:checked {
    opacity: 1;
}

.deeplink-title {
    color: #d00000;
    margin: 0;
}

.line {
    margin-bottom: .6em;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dfdfdf;
}

.deeplink-description {
    margin: .6em 0;
}

@media (min-width: 768px) {
    ul:hover li:not(:hover) { 
        opacity: .5;
        box-shadow: none;
    }
}